@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: Nunito-Sans;
    src: url(./NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

@font-face {
    font-family: Nunito-Sans-italic;
    src: url(./NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}

body {
    font-family: Nunito-Sans;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #fff;
    /* padding-right: 8%;
    padding-left: 8%; */
}

button {
    cursor: pointer;
}


/* ---------------------------NAV------------------------------ */

nav {
    text-align: center;
}

.navbar {
    display: flex;
    padding-left: 0rem;
    overflow: hidden;
}

.nav_menu {
    display: flex;
    align-items: center;
}

.nav-ul {
    display: flex;
    width: 100%;
}

.navbar ul li {
    list-style: none;
    font-size: 14px;
    margin-right: 0px;
    margin-left: 40px;
    vertical-align: middle;
}

.navbar ul li a {
    text-decoration: none;
    color: white;
    position: relative;
}

.underline::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out;
}

.underline:hover::before {
    visibility: visible;
    transform: scaleX(1);
}

.nav_header {
    height: 14vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 8%;
    padding-left: 8%;
    top: 0;
    position: sticky;
    background: #286FB4;
    box-sizing: border-box;
    /* box-shadow: 0 4px 0px 0 rgba(0, 0, 0, .4); */
    box-shadow: 2px 3px 8px #888888;
}

.nav-width-alignment {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_button img {
    cursor: pointer;
}

.nav_link.button {
    padding: 10px 20px;
    background-color: white;
    color: #286FB4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}


/* .nav_link.button:hover {
    background-color: #0056b3; 
} */

.hamburger {
    display: none;
    float: right;
}


/* @media screen and (max-width: 768px) {
    .nav_menu {
        display: none;
    }
    .hamburger {
        display: block;
    }
    .hm_image {
        display: none;
    }
} */


/* --------------HIRE US SECTION--------------- */

.hire-us {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: auto; */
}

.transformation button,
.why-us-writting button {
    padding: 10px 20px;
    background-color: #286FB4;
    color: white;
    gap: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    width: 159px;
    line-height: 20px;
    margin-top: 5%;
    background-color: #286FB4;
}

.trans-margin {
    margin-left: 70px;
    width: 50%;
}

.transformation h1 {
    font-size: 45px;
    color: #202942;
    line-height: 70px;
    font-weight: 600;
}

.transformation p {
    line-height: 30px;
    color: #4F5E71;
    font-weight: 400;
}

.trans-woman {
    width: 50%;
}

.trans-woman img {
    height: 100%;
    width: 100%;
}

.hire-us-section {
    background-color: #E2F0F9
}


/* --------------HIRE US SECTION--------------- */


/* -----------OUR SERVICES SECTION---------- */

.services-section {
    padding: 3rem 0 2.5rem;
    display: block;
    width: 85%;
    margin: auto;
    margin-bottom: 5%;
}

.our-services,
.our-milestones,
.testimonials {
    margin-bottom: 5%;
    font-size: 40px;
    text-align: center;
    font-weight: 600;
}

.list-of-services {
    display: flex;
    justify-content: space-around;
}

.list-of-services img {
    width: 100px;
    height: 100px;
}

.list-of-services h1 {
    margin-top: 10%;
    font-weight: 600;
    font-size: 20px;
}

.list-of-services p {
    margin-top: 10%;
}

.ui-ux-design {
    margin-right: 5%;
}

.web-dev {
    margin-right: 5%;
}

.backend-dev {
    margin-right: 5%;
}


/* ----------- END OUR SERVICES SECTION---------- */


/* --------WHY US SECTION------------------ */

.why-us-section {
    background-color: #E2F0F9;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.why-us-writting {
    display: block;
}

.why-us-writting h1 {
    font-weight: 600;
    font-size: 40px;
    color: #252A31;
}

.why-us-writting h2 {
    color: #232324;
    font-weight: 600;
    font-size: 20px;
    line-height: 35px;
}

.why-us-writting p {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #4F5E71;
    margin-top: 5%;
}


/* ------END OF WHY US SECTION */


/* ------------MILESTONES ------------*/

.milestones {
    display: block;
}

.milestone-logo-and-milestone-number {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    border: 1px;
    margin-bottom: 10%;
}

.milestone-logo-and-milestone-number img {
    width: 40px;
    height: 40px;
}

.milestone-logo-and-milestone-number p {
    font-weight: 600;
    font-size: 40px;
    opacity: 30%;
}

.milestones {
    width: 85%;
    margin: auto;
}

.milestone-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.box-style {
    display: block;
    width: 25%;
    height: 240px;
    align-items: center;
    margin-bottom: 10%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.box-style h1 {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 10%;
}


/* ------------END OF MILESTONES ------------*/


/* ------------DEADLINES ------------*/

.deadline-section {
    margin-bottom: 5%;
}

.deadline-section img {
    width: 100%;
}


/* ------------END OF DEADLINES ------------*/


/* ------------TESTIMONIALS ------------*/


/* ------------END OF TESTIMONIALS ------------*/